doctype html
html(lang="ru")
	include components/header
	body
		main(class="landing")
			article(class="landing_main")
				div(class="container")
					div(class="landing_main_body")
						span Специальный проект
						h1 Академия свежести
						p Задумывались ли вы, как много в жизни значат ароматы? HELLO! и Vernel обратились к звездным экспертам, чтобы выяснить, как парфюм влияет на настроение и образ, может ли кондиционер для белья облегчить жизнь работающей мамы и как выглядеть идеально на телеэкране. Хотите узнать больше? Выбирайте аромат на круговой карте, кликайте – и читайте интервью.
					img(class="landing_main_image" src="/custom/vernal/images/image-main.webp" loading="lazy")


			section(class="landing_experts container")
				h2 Звездные эксперты
				div(class="landing_experts_row row")
					article(class="landing_expert")
						div(class="landing_expert_image boha")
							img(src="/custom/vernal/images/expert-boha.webp" loading="lazy")
						h3(class="landing_expert_title") Алиса Боха
						p(class="landing_expert_description") Сооснователь и дизайнер популярного кэжуал бренда Monochrome. Оверсайз худи Monochrome можно увидеть как на страницах глянцевых журналов, так и на улицах города.

					article(class="landing_expert")
						div(class="landing_expert_image ushakova")
							img(src="/custom/vernal/images/expert-ushakova.webp" loading="lazy")
						h3(class="landing_expert_title") Елена Ушакова
						p(class="landing_expert_description") Звездный стилист. Не просто подбирает одежду, но создает образы, чтобы чувствовать себя увереннее и эффектнее.

					article(class="landing_expert")
						div(class="landing_expert_image ziryanov")
							img(src="/custom/vernal/images/expert-ziryanov.webp" loading="lazy")
						h3(class="landing_expert_title") Богдан Зырянов
						p(class="landing_expert_description") Парфюмерный критик. Умеет слушать и различать самые сложные и тонкие ноты ароматов. В личной коллекции Богдана более 300 флаконов.

					article(class="landing_expert")
						div(class="landing_expert_image muromceva")
							img(src="/custom/vernal/images/expert-muromceva.webp" loading="lazy")
						h3(class="landing_expert_title") Ирина Муромцева
						p(class="landing_expert_description") Журналист, телеведущая, продюсер и режиссер. Всегда выглядит безупречно, как на экране, так и в обычной жизни, ведет здоровый образ жизни.

			div(class="landing_pentagram container")
				div(class="landing_pentagram_wrapper")
					div(class="landing_pentagram_first")
						img(class="landing_pentagram_image" src="/custom/vernal/images/pentagram_briz.webp" loading="lazy")

					div(class="landing_pentagram_second")
						img(class="landing_pentagram_image" src="/custom/vernal/images/pentagram_detskiy.webp" loading="lazy")

					div(class="landing_pentagram_third")
						img(class="landing_pentagram_image" src="/custom/vernal/images/pentagram_ice.webp" loading="lazy")

					div(class="landing_pentagram_fourth")
						img(class="landing_pentagram_image" src="/custom/vernal/images/pentagram_roza.webp" loading="lazy")

					div(class="landing_pentagram_fifth")
						img(class="landing_pentagram_image" src="/custom/vernal/images/pentagram_pion.webp" loading="lazy")

				div(class="row")
					article(class="landing_pentagram_description briz")
						h2(class="briz") VERNEL
							span Свежий бриз
						p Насладитесь изумительным ароматом прогулки по свежему утреннему воздуху.

					article(class="landing_pentagram_description detskiy")
						h2(class="detskiy") VERNEL
							span Детский
						p Кондиционеры Vernel для детского белья и белья людей с чувствительной кожей отличаются не только мягким ароматом, но и гипоаллергенными свойствами.

					article(class="landing_pentagram_description ice")
						h2(class="ice") VERNEL
							span Ледяная прохлада
						p Чувство прохлады и интенсивная свежесть в течение всего дня.

					article(class="landing_pentagram_description roza")
						h2(class="roza") VERNEL
							span Чувственная роза
						p Насладитесь чувственной магией цветков розы.

					article(class="landing_pentagram_description pion")
						h2(class="pion") VERNEL
							span Пион и белый чай
						p Погрузитесь в мир ароматов отличного настроения.


			div(class="landing_interview")
				div(class="landing_interview_article_bg briz active")
					div(class="container")
						article(class="landing_interview_article")
							img(src="/custom/vernal/images/interview_boha.webp" loading="lazy")
							h2(class="landing_interview_title") Алиса Боха
							p(class="landing_interview_description") «Ледяная прохлада», «Свежий бриз»
								span стилист, дизайнер и сооснователь бренда Monochrome
							blockquote(class="landing_interview_blockquote boha") Я работаю с одеждой как стилист уже более 15 лет и 5 из них создаю свой бренд, особое внимание в котором уделяю мягким и приятным на ощупь тканям.
							div(class="landing_interview_text boha")
								p Насколько для вас, как для дизайнера, важны качество и мягкость ткани?
								p Я работаю с одеждой как стилист уже более 15 лет и 5 из них создаю свой бренд, особое внимание в котором уделяю мягким и приятным на ощупь тканям. Конечно, мне хочется, чтобы мое творение сохранило свой первоначальный вид как можно дольше. Для этого к каждой покупке мы прикладываем открытку с описанием, как именно ухаживать за нашей одеждой. Это очень важно, так как футер довольно сложная ткань и требует тщательного ухода: если неправильно стирать вещи, можно испортить форму изделия, ваш любимый худи может стать жестким. А причина банальна – неправильное средство для стирки или жесткая вода.
								p Можно ли спасти «испорченные» вещи?
								p Иногда даже я «грешу» и не читаю рекомендации по уходу за одеждой, не уделяю должного внимания режиму отжима на стиральной машине или температуре воды. Но чаще всего меня спасает то, что я всегда использую кондиционер для белья. Как результат: моя одежда пережила не одну стирку «не по правилам».
								div(class="landing_interview_collapse")
									p Есть ли какие-то ткани, для которых кондиционер просто необходим?
									p Я считаю, что абсолютно все ткани, которые так или иначе соприкасаются с человеческим телом, должны быть приятными на ощупь. Чтобы этот эффект не пропал после стирки, я советую использовать кондиционер для белья
										a(href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank") Vernel «Свежий бриз»:
										| ваша одежда будет пахнуть так ароматно, как будто сушилась на свежем воздухе.
									p Важен ли для вас аромат кондиционера?
									p Мне важнее, чтобы ткани сохранили свои приятные тактильные ощущения, чем яркий аромат. Поэтому в магазине я прежде всего изучаю состав и свойства средства. Например, в составе кондиционера
										a(href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank") Vernel «Ледяная прохлада»
										| есть специальные ингредиенты, которые нейтрализуют неприятные запахи, например, залежавшихся в шкафу вещей.

							div(class="landing_interview_btn")
								button(class="btn btn_cyan btn_more active") Читать далее
								button(class="btn btn_cyan btn_top") К карте ароматов

							div(class="landing_interview_photos")
								div(class="landing_interview_imagerow")
									div(class="landing_interview_image2")
										img(src="/custom/vernal/images/photo_briz1.webp" loading="lazy")
									a(class="landing_interview_image2" href="https://www.ozon.ru/product/konditsioner-vernel-fresh-control-ledyanaya-prohlada-dlya-belya-1200-ml-169594607/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target="_blank")
										img(src="/custom/vernal/images/photo_briz2.webp" loading="lazy")
								div(class="landing_interview_image1")
									img(src="/custom/vernal/images/photo_briz3.webp" loading="lazy")

							div(class="landing_interview_promo")
								a(class="btn btn_promo" href="https://www.ozon.ru/product/konditsioner-dlya-belya-vernel-svezhiy-briz-1-82-l-140307396/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target=_blank) Купить на Ozon
								a(class="btn btn_promo" href="https://www.wildberries.ru/catalog/10186724/detail.aspx?targetUrl=BP&utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target=_blank) Купить в Wildberries

				div(class="landing_interview_article_bg detskiy")
					div(class="container")
						article(class="landing_interview_article")
							img(src="/custom/vernal/images/interview_muromceva.webp" loading="lazy")
							h2(class="landing_interview_title") Ирина Муромцева
							p(class="landing_interview_description") «Детский»
								span журналист, телеведущая, продюсер
							blockquote(class="landing_interview_blockquote muromceva") Маневрируя разными ароматами, можно создавать определенные состояния. Например, вдыхая приятные ароматы, которые вызывают у вас ощущения комфорта, защищенности, вы будете ощущать стабильность, которая словно идет изнутри.
							div(class="landing_interview_text")
								p Как человек, увлекающийся ароматерапией, как вы считаете: влияет ли аромат на самоощущение человека?
								p Безусловно! Маневрируя разными ароматами, можно создавать определенные состояния. Например, вдыхая приятные ароматы, которые вызывают у вас ощущения комфорта, защищенности, вы будете ощущать стабильность, которая словно идет изнутри. И окружающими людьми такой человек будет восприниматься уверенным и уравновешенным.
								p Может ли аромат «сделать» вас моложе или, наоборот, состарить?
								p В моем арсенале нет духов со сладкими, приторными нотами, несмотря на то, что говорят, что ваниль привлекает внимание противоположного пола. Лично у меня сладкие, удушающие ароматы создают ощущение того, что мне лет на 15 точно больше. Я предпочитаю легкие, травяные, цитрусовые ароматы. Они создают настроение и шлейф, который в течение дня помогает мне быть в тонусе и также притягивает внимание противоположного пола.
								div(class="landing_interview_collapse")
									p Вам, как телеведущей, нужно всегда выглядеть идеально на экране. Могут ли средства по уходу за одеждой помочь в этом?
									p Экран увеличивает все изъяны, начиная от лишних килограммов. Люди, когда видят меня в жизни, замечают, что я намного стройнее, нежели на экране. Также все заломы на одежде гипертрофируются и становятся более заметными, поэтому среди телеведущих все средства, которые помогают сохранить ткань более эластичной, – приветствуются.
									p Может ли кондиционер для белья облегчить жизнь работающей мамы?
									p Работающая мама и кондиционер для белья – это друзья навек, потому что это не только более легкая глажка, а значит, экономия времени, но и сохранение товарного вида одежды, особенно детской. Детскую одежду необходимо стирать ежедневно: если это малыш, то одежда стирается через каждые два-три часа, а если ребенок постарше, то одежда обязательно стирается вечером. Если вещь у ребенка любимая, то она будет стираться ежедневно. Только представьте, что может стать с данной одеждой при каждодневной носке. Поэтому я всегда использую кондиционер. Так было, есть и будет в будущем!

							div(class="landing_interview_btn")
								button(class="btn btn_peach btn_more active") Читать далее
								button(class="btn btn_peach btn_top") К карте ароматов

							div(class="landing_interview_photos")
								div(class="landing_interview_imagerow")
									div(class="landing_interview_image2")
										img(src="/custom/vernal/images/photo_detskiy1.webp" loading="lazy")
									a(class="landing_interview_image2" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
										img(src="/custom/vernal/images/photo_detskiy2.webp" loading="lazy")
								div(class="landing_interview_image1")
									img(src="/custom/vernal/images/photo_detskiy3.webp" loading="lazy")

							div(class="landing_interview_promo")
								a(class="btn btn_promo" href="https://www.ozon.ru/product/konditsioner-dlya-belya-vernel-detskiy-kontsentrat-1-82-l-140307394/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target=_blank) Купить на Ozon
								a(class="btn btn_promo" href="https://www.wildberries.ru/catalog/10186705/detail.aspx?targetUrl=XS&utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target=_blank) Купить в Wildberries



				div(class="landing_interview_article_bg briz")
					div(class="container")
						article(class="landing_interview_article")
							img(src="/custom/vernal/images/interview_boha.webp" loading="lazy")
							h2(class="landing_interview_title") Алиса Боха
							p(class="landing_interview_description") «Ледяная прохлада», «Свежий бриз»
								span стилист, дизайнер и сооснователь бренда Monochrome
							blockquote(class="landing_interview_blockquote boha") Я работаю с одеждой как стилист уже более 15 лет и 5 из них создаю свой бренд, особое внимание в котором уделяю мягким и приятным на ощупь тканям.
							div(class="landing_interview_text boha")
								p Насколько для вас, как для дизайнера, важны качество и мягкость ткани?
								p Я работаю с одеждой как стилист уже более 15 лет и 5 из них создаю свой бренд, особое внимание в котором уделяю мягким и приятным на ощупь тканям. Конечно, мне хочется, чтобы мое творение сохранило свой первоначальный вид как можно дольше. Для этого к каждой покупке мы прикладываем открытку с описанием, как именно ухаживать за нашей одеждой. Это очень важно, так как футер довольно сложная ткань и требует тщательного ухода: если неправильно стирать вещи, можно испортить форму изделия, ваш любимый худи может стать жестким. А причина банальна – неправильное средство для стирки или жесткая вода.
								p Можно ли спасти «испорченные» вещи?
								p Иногда даже я «грешу» и не читаю рекомендации по уходу за одеждой, не уделяю должного внимания режиму отжима на стиральной машине или температуре воды. Но чаще всего меня спасает то, что я всегда использую кондиционер для белья. Как результат: моя одежда пережила не одну стирку «не по правилам».
								div(class="landing_interview_collapse")
									p Есть ли какие-то ткани, для которых кондиционер просто необходим?
									p Я считаю, что абсолютно все ткани, которые так или иначе соприкасаются с человеческим телом, должны быть приятными на ощупь. Чтобы этот эффект не пропал после стирки, я советую использовать кондиционер для белья
										a(href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank") Vernel «Свежий бриз»:
										| ваша одежда будет пахнуть так ароматно, как будто сушилась на свежем воздухе.
									p Важен ли для вас аромат кондиционера?
									p Мне важнее, чтобы ткани сохранили свои приятные тактильные ощущения, чем яркий аромат. Поэтому в магазине я прежде всего изучаю состав и свойства средства. Например, в составе кондиционера
										a(href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank") Vernel «Ледяная прохлада»
										| есть специальные ингредиенты, которые нейтрализуют неприятные запахи, например, залежавшихся в шкафу вещей.

							div(class="landing_interview_btn")
								button(class="btn btn_cyan btn_more active") Читать далее
								button(class="btn btn_cyan btn_top") К карте ароматов

							div(class="landing_interview_photos")
								div(class="landing_interview_imagerow")
									div(class="landing_interview_image2")
										img(src="/custom/vernal/images/photo_briz1.webp" loading="lazy")
									a(class="landing_interview_image2" href="https://www.ozon.ru/product/konditsioner-vernel-fresh-control-ledyanaya-prohlada-dlya-belya-1200-ml-169594607/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target="_blank")
										img(src="/custom/vernal/images/photo_briz2.webp" loading="lazy")
								div(class="landing_interview_image1")
									img(src="/custom/vernal/images/photo_briz3.webp" loading="lazy")

							div(class="landing_interview_promo")
								a(class="btn btn_promo" href="https://www.ozon.ru/product/konditsioner-vernel-fresh-control-ledyanaya-prohlada-dlya-belya-1200-ml-169594607/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target=_blank) Купить на Ozon
								a(class="btn btn_promo" href="https://www.wildberries.ru/catalog/11913121/detail.aspx?targetUrl=XS&utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target=_blank) Купить в Wildberries

				div(class="landing_interview_article_bg rose")
					div(class="container")
						article(class="landing_interview_article")
							img(src="/custom/vernal/images/interview_ushakova.webp" loading="lazy")
							h2(class="landing_interview_title") Елена Ушакова
							p(class="landing_interview_description") «Чувственная роза»
								span стилист,
							blockquote(class="landing_interview_blockquote ushakova") Я обожаю деним и кашемир. Это те две ткани, которые требуют особо деликатного ухода, поэтому мне сложно представить свою жизнь без кондиционера для белья.
							div(class="landing_interview_text")
								p Какую роль играет кондиционер для белья в создании образа?
								p Несомненно, одежда, о которой правильно заботятся, выглядит опрятнее и дольше сохраняет первоначальный вид. Это влияет и на общее восприятие образа – мятые, с выраженными заломами, потерявшие мягкость и цвет вещи портят внешний вид и впечатление, которое производит человек.
								p Должен ли различаться аромат кондиционера для белья для мужчин и для женщин?
								p Уже давно в парфюмерии укрепился тренд не разделять ароматы на мужские и женские, так же я отношусь ко всем ароматам – для дома, для одежды, для постельного белья. Главное, чтобы нравилось.
								div(class="landing_interview_collapse")
									p Как стилист, на какие свойства кондиционера вы обращаете внимание в первую очередь?
									p Гипоаллергенность и приятный запах. Мне приходится работать с самыми разными людьми, и я должна быть уверена, что при носке вещей они не будут испытывать ни малейшего дискомфорта.
									p Насколько для вас важна мягкость вещей?
									p Я обожаю деним и кашемир. Это те две ткани, которые требуют особо деликатного ухода, поэтому мне сложно представить свою жизнь без кондиционера для белья.


							div(class="landing_interview_btn")
								button(class="btn btn_roze btn_more active") Читать далее
								button(class="btn btn_roze btn_top") К карте ароматов

							div(class="landing_interview_photos")
								div(class="landing_interview_imagerow")
									div(class="landing_interview_image2")
										img(src="/custom/vernal/images/photo_rose1.webp" loading="lazy")
									a(class="landing_interview_image2" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
										img(src="/custom/vernal/images/photo_rose2.webp" loading="lazy")
								div(class="landing_interview_image1")
									img(src="/custom/vernal/images/photo_rose3.webp" loading="lazy")

							div(class="landing_interview_promo")
								a(class="btn btn_promo" href="https://www.ozon.ru/product/konditsioner-opolaskivatel-dlya-stirki-belya-vernel-chuvstvennaya-roza-kontsentrirovannyy-1-74-l-246074686/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target=_blank) Купить на Ozon
								a(class="btn btn_promo" href="https://www.wildberries.ru/catalog/21367051/detail.aspx?targetUrl=XS&utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target=_blank) Купить в Wildberries


				div(class="landing_interview_article_bg briz")
					div(class="container")
						article(class="landing_interview_article")
							img(src="/custom/vernal/images/interview_ziryanov.webp" loading="lazy")
							h2(class="landing_interview_title") Богдан Зырянов
							p(class="landing_interview_description") «Пион и белый чай»
								span независимый парфюмерный эксперт, автор telegram-канала hear•the•smell
							blockquote(class="landing_interview_blockquote ziryanov") Магия ароматов заключается в том, что один и тот же запах действует на нас по-разному в зависимости от контекста ситуации и от индивидуального обонятельного опыта: например, запах лаванды одновременно бодрит с утра и успокаивает перед отходом ко сну.
							div(class="landing_interview_text")
								p Какую роль в нашей жизни играют ароматы?
								p Думаю, ни для кого не секрет, что приятный ароматический фон дома снижает тревогу и улучшает самочувствие. Каждый из нас, кто провёл 2020 год в самоизоляции или даже на некоторое время утратил обоняние из-за ковида, осознал важность запахов в повседневной жизни.
								p Какое влияние тот или иной аромат оказывает на человека?
								p Магия ароматов заключается в том, что один и тот же запах действует на нас по-разному в зависимости от контекста ситуации и от индивидуального обонятельного опыта: например, запах лаванды одновременно бодрит с утра и успокаивает перед отходом ко сну. Этот природный парадокс заставляет прислушиваться к себе, к своим ощущениям: какого эффекта я хочу достичь прямо сейчас? Какое настроение я хочу пробудить в себе? Такая игра возвышает повседневность и позволяет хотя бы немного упорядочить хаос трудовых будней.
								div(class="landing_interview_collapse")
									p Что для вас «приятный ароматический фон» дома?
									p Важно понимать, что универсальных правил ароматизации пространства не существует. Например, я не люблю диффузоры, но люблю ароматические свечи, потому что их запах можно «включать» и «выключать». Одни предпочитают спреи для текстиля, а другим достаточно кондиционера для белья с приятной отдушкой, которая держится до следующей стирки. Если вам так захочется, вы можете даже менять кондиционер в зависимости от времени года или от вашего настроения – в этой игре правила придумываете вы!



							div(class="landing_interview_btn")
								button(class="btn btn_pion btn_more active") Читать далее
								button(class="btn btn_pion btn_top") К карте ароматов

							div(class="landing_interview_photos")
								div(class="landing_interview_imagerow")
									div(class="landing_interview_image2")
										img(src="/custom/vernal/images/photo_pion1.webp" loading="lazy")
									a(class="landing_interview_image2" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
										img(src="/custom/vernal/images/photo_pion2.webp" loading="lazy")
								div(class="landing_interview_image1")
									img(src="/custom/vernal/images/photo_pion3.webp" loading="lazy")

							div(class="landing_interview_promo")
								a(class="btn btn_promo" href="https://www.ozon.ru/product/konditsioner-dlya-belya-vernel-aromaterapiya-pion-i-belyy-chay-1820-ml-150820106/?utm_source=vendor_hellomagazin.com&utm_medium=vendor_referral&utm_campaign=vendor_org_30380588_vernel_omd_vernel-hello-08-21&utm_content=vernel-landing&utm_term=bottom-products" target=_blank) Купить на Ozon
								a(class="btn btn_promo" href="https://www.wildberries.ru/catalog/21367053/detail.aspx?targetUrl=XS&utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target=_blank) Купить в Wildberries


		footer(class="landing_footer")
				div(class="container")
					div(class="row")
						a(class="landing_footer_image" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
							img(src="/custom/vernal/images/footer_ice.webp" loading="lazy")
						a(class="landing_footer_image" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
							img(src="/custom/vernal/images/footer_detskiy.webp" loading="lazy")
						a(class="landing_footer_image" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
							img(src="/custom/vernal/images/footer_roza.webp" loading="lazy")
						a(class="landing_footer_image" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
							img(src="/custom/vernal/images/footer_pion.webp" loading="lazy")
						a(class="landing_footer_image" href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
							img(src="/custom/vernal/images/footer_briz.webp" loading="lazy")
					a(class="landing_footer_logo"  href="https://team-clean.ru/vernel/?utm_source=referall_omd&utm_medium=vendor_Vernel&utm_campaign=vendor_Vernel&utm_content=magazin_hello&utm_term=Vernel_Hello_08_2022" target="_blank")
						img(src="/custom/vernal/images/logo.webp" loading="lazy")



		script(src="/custom/vernal/js/scripts.min.js" async)